@media (max-width: 34em) {
  .box-content {
    font-size: emize(16, 16) !important; }

  .service-title a {
    font-size: emize(15, 13) !important; }

  #wpadminbar {
    display: none; } }
@media (max-width: 28em) {
  article .alignright,
  article .alignleft,
  article .alignnone,
  article .aligncenter,
  article .featured-image img {
    display: block;
    float: none;
    margin: 0.3em 0 1em 0;
    width: 100%;
    height: auto; } }
body {
  margin: 2.5em 0 0; }

.main-container {
  margin: 2em; }

h1 {
  font-weight: normal;
  font-size: 2em;
  line-height: 1.1;
  margin: 0.1em 0 0.3em; }

article {
  width: 48%;
  margin-right: 4%;
  float: left;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

aside {
  width: 22%;
  margin-right: 0;
  float: left;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@media (max-width: 50em) {
  article {
    width: 48%;
    margin-right: 0;
    float: left;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  aside {
    width: 100%;
    margin-right: 4%;
    margin-right: 0;
    float: none;
    float: left;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; } }
@media (max-width: 40em) {
  article {
    width: 100%;
    margin-right: 4%;
    margin-right: 0;
    float: none;
    float: left;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; } }
.box {
  position: relative;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: #cccccc 1px solid;
  margin-bottom: 1.4em; }
  .box .box-title {
    -moz-border-radius: 2px 2px 0 0;
    -webkit-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
    font-size: emize(13);
    line-height: emize(18, 13);
    font-family: "OpenSans", "Droid Sans", Verdana, "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
    font-weight: normal;
    margin: 0 0 0.6em;
    padding: 0.3em 0.6em 0.5em;
    background: #5a5a5a;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  .box.light .box-title {
    background-color: whitesmoke;
    color: black; }
  .box .box-content {
    overflow: hidden;
    margin: .6em;
    padding: 0; }
  .box .box-instructions {
    display: none;
    margin: 0.5em 0.9em 0.7em;
    padding: 0.5em 0.7em;
    border: #cccccc 1px solid;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; }
    .box .box-instructions h2.no-entries {
      font-size: emize(22);
      font-weight: normal;
      line-height: 1.2;
      margin: 0 0 0.1em; }
    .box .box-instructions p {
      font-size: emize(15);
      line-height: emize(19, 15);
      padding: 0;
      margin: 0 0 0.5em; }
    .box .box-instructions.show {
      display: block; }
  .box .toggle-instructions {
    position: absolute;
    right: 26px;
    top: 2px;
    width: 14px;
    height: 18px;
    padding: 2px 0 0 7px;
    line-height: 1;
    border: 1px solid transparent;
    font-family: "OpenSans", "Droid Sans", Verdana, "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
    font-size: emize(15);
    font-weight: bold;
    color: #cccccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; }
  .box .box-menu {
    position: absolute;
    right: 4px;
    top: 2px; }
    .box .box-menu .dropdown-toggle {
      display: block;
      width: 20px;
      height: 20px;
      padding: 0 0 0 1px;
      font-size: emize(16);
      line-height: 1.2;
      color: white;
      border: 1px solid transparent;
      -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=(50));
      filter: alpha(opacity=50);
      opacity: 0.5;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px; }
  .box .toggle-instructions:hover,
  .box .dropdown-toggle:hover,
  .box .open a.dropdown-toggle {
    cursor: pointer;
    background-color: #8a8a8a;
    border: #999999 1px solid;
    color: white;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=(100));
    filter: alpha(opacity=100);
    opacity: 1; }
