// sass --watch application.scss
// sass --watch --style compressed  application.scss
@import 'mixins';

@import 'media-queries';
@import 'layout';
@import 'variables';
@import 'boxes';
@import 'navs';

.wrapper {
  @include clearfix();
  max-width: 75em;
  margin: 1em auto;
}

.breadcrumb {
    margin-bottom:2em;
}

/* Create Discussion */
.page-node-add-forum {
  .wrapper {
    max-width: 52em;
  }
  article {
    @include columns(12);
  }
}

/* .a11y from utils.css.scss */
.element-invisible {
  position: absolute;
  left: -300em;
  width: 1em;
  overflow: hidden;
}

/* Forum Super Header */
.forum-collapsible {
  cursor:pointer;
  float:right;
}

/* Forum Comments */
.forum-posted-on {
  float: left;
}
.forum-post-number {
  float: right;
}

/* Forum Icons */
.forum-list-icon,
.views-field-topic-icon {
    width:40px;

  .forum-list-icon-wrapper {
    width:32px;
    height:32px;
    display:block;

    span {
      position: absolute;
      left: -300em;
      width: 1em;
      overflow: hidden;
    }
  }
}


/* Sidebar Content */
aside {
  #block-node-recent,
  #block-forum-new {

    .box-title {
      margin-bottom: 0;
    }

    .box-content {
      margin: 0;
    }

    table {
      width: 100%;
      margin: 0;

      tr:first-child {
         td {
           border:0;
         }
      }

      tr:last-child {
         td {
           border:0;
         }
      }
    }
  }

}