// sass --watch application.scss
// sass --watch --style compressed  application.scss
@import 'mixins';

@import 'media-queries';
@import 'layout';
@import 'variables';
@import 'boxes';
@import 'navs';

.wrapper {
  @include clearfix();
  max-width: 75em;
  margin: 1em auto;
}

/* Breadcrumbs */
.breadcrumb {
    margin-bottom:2em;
}

table {
  tr.even {
    background:$backgroundLight;
  }
}

/* Icons */
.forum-list-icon,
.views-field-topic-icon {
  width:26px;
}

.forum-list-icon-wrapper span,
.topic-icon, {
  width:42px;
  height:42px;
  display:block;
  background:$backgroundLight;
  text-indent:-300em;
  border-radius:100%;

}

tr.even td.forum-list-icon-default .forum-list-icon-wrapper span,
tr.odd td.forum-list-icon-default .forum-list-icon-wrapper span,
.forum-list-icon-legend .forum-list-icon-default {
  background:#6898D0 url(../img/icon-default.svg) 50% 50% no-repeat;
  background-size:60%;
}
tr.even td.forum-list-icon-new-posts .forum-list-icon-wrapper span,
tr.odd td.forum-list-icon-new-posts .forum-list-icon-wrapper span,
.forum-list-icon-legend .forum-list-icon-new-posts {
  background:#5F9E25 url(../img/icon-new.svg) 50% 50% no-repeat;
  background-size:60%;
}

/* Topic List Icons */
.topic-icon-default {
  background:#6898D0 url(../img/icon-default.svg) 50% 50% no-repeat;
  background-size:60%;
}
.topic-icon-new {
  background:#5F9E25 url(../img/icon-new.svg) 50% 50% no-repeat;
  background-size:60%;
}
.topic-icon-hot {
  background:#D43F3F url(../img/icon-hot.svg) 50% 50% no-repeat;
  background-size:60%;
}
.topic-icon-hot-new {
  background:#D43F3F;
}
.topic-icon-sticky {
  background:#CEBC31;
}
.topic-icon-closed {
  background:#545454 url(../img/icon-hot.svg) 50% 50% no-repeat;
  background-size:60%;
}

/* More Link */
.more-link {
  margin:0;

  a {
    font-family:$sansSerif;
    font-size:0.8125em;
    border-bottom:0;
    display:block;

    padding: 0.4em .7em;
    border:0;
    border-top:1px solid;
    border-color:#fff;
    margin: 0;

    &:hover,
    &:focus {
      background-color: #F5F5F5;
      border-color: #CCC;
    }
  }
}

/* Create Discussion */
.page-node-add-forum {
  .wrapper {
    max-width: 52em;
  }
  article {
    @include columns(12);
  }
}

/* .a11y from utils.css.scss */
.element-invisible {
  position: absolute;
  left: -300em;
  width: 1em;
  overflow: hidden;
}

/* Forum Super Header */
.forum-collapsible {
  cursor:pointer;
  float:right;
}

/* Forum Comments */
.forum-posted-on {
  float: left;
}
.forum-post-number {
  float: right;
}
.indented {
  margin-left:2em;
}

/* Sidebar Content */
aside {
  #block-node-recent,
  #block-forum-new {

    .box-title {
      margin-bottom: 0;

      a {
        color:#fff;
      }
    }

    .box-content {
      margin: 0;
    }

    table {
      width: 100%;
      margin: 0;

      tr:first-child {
         td {
           border:0;
         }
      }

      tr:last-child {
         td {
           border:0;
         }
      }
    }
  }

}