@media ( max-width: 34em ) {
  .box-content {
    font-size: emize(16, 16) !important;
  }
  .service-title a {
    font-size: emize(15, 13) !important;
  }
  #wpadminbar {
    display: none;
  }
}

@media ( max-width: 28em ) {
  article {
    .alignright,
    .alignleft,
    .alignnone,
    .aligncenter,
    .featured-image img {
      display: block;
      float: none;
      margin: .3em 0 1em 0;
      width: 100%;
      height: auto;
    }
  }
}
@media ( max-width: 640px ) {
  .box{
     border-radius: 0 !important;
  }
  .box-title, .breadcrumb, .forum-topic-header {
    margin: 0 10px;
  }
}
@media ( max-width: 1200px ) {
  .tabs {
      border-bottom:none !important;
      & > li {
          width: 47.5%;
          margin-right: 5%;
          a{
            color:#000;
            border-bottom: 1px solid $borderColor !important;
            &.active {
            background-color: #eeeeee;
            border-right: medium none !important;
            border-left: medium none !important;
            border-top: medium none !important;
            }
          }
      }
     & > li:nth-child(even){
       margin-right: 0;
     }
  }
}
@media ( max-width: 34em) {
  .tabs {
      & > li {
          width: 100%;
          margin-right: 0;
      }

  }
}